@using Sany3y.Infrastructure.ViewModels;
@model ChangePasswordViewModel;

@{
    ViewData["Title"] = "تغيير كلمة المرور";
    Layout = "_ProfileLayout";
}

<div class="account-container">
    <div class="account-box">
        <h2 class="text-center mb-4">@ViewData["Title"]</h2>
        <form asp-action="ChangePassword" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Email" class="form-label">البريد الإلكتروني</label>
                <input asp-for="Email" class="form-control" readonly />
            </div>

            <div class="mb-3">
                <label asp-for="NewPassword" class="form-label">كلمة المرور الجديدة</label>
                <input asp-for="NewPassword" class="form-control" />
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmNewPassword" class="form-label">تأكيد كلمة المرور</label>
                <input asp-for="ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
            </div>

            <input type="submit" value="حفظ" data-show-loader="true" class="btn btn-success w-100 p-2" />
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}