@{
    ViewData["Title"] = "من نحن";
}

<div class="container card shadow-sm border-0">
    <div class="card-body">
        <h2 class="fw-bold text-success mb-3 pe-2">@ViewData["Title"]</h2>

        <p class="fs-5 text-secondary">
            <strong>صنَّاعي</strong> هي منصة رقمية تهدف لربط أصحاب الحرف والمهنيين
            (مثل النجارين، السباكين، الدهّانين، الكهربائيين، وغيرهم)
            مع الأشخاص الذين يحتاجون خدمات موثوقة وسريعة وبأسعار عادلة في منطقتهم.
            نساعد العملاء على إيجاد الفني المناسب، الاطلاع على التقييمات الحقيقية،
            مقارنة الأسعار، وحجز الخدمة خلال دقائق — مع التركيز على الجودة والشفافية.
        </p>

        <p class="fs-5 text-secondary">
            يحصل كل حرفي على صفحة تعريفية بسيطة تعرض صور أعماله، الخدمات التي يقدمها،
            المناطق التي يغطيها، الأسعار الابتدائية، وتقييمات العملاء.
            كما تعتمد المنصة على مراجعات حقيقية وموثّقة لضمان بناء مجتمع موثوق وشفاف.
        </p>

        <p class="fs-5 text-secondary">
            ومع تزايد التقييمات والمراجعات، ومع وجود معايير واضحة لقبول الحرفيين،
            تهدف منصة صنَّاعي إلى بناء مجتمع آمن، عملي، وسهل الاستخدام للجميع.
        </p>

        <a asp-controller="Home" data-show-loader="true" asp-action="ContactUs" class="btn btn-outline-success mt-3 fw-semibold">تواصل معنا</a>
    </div>
</div>
