@{
    ViewData["Title"] = "Our Team";
}

<h1 class="mb-4">Our Team</h1>

<div class="row gy-5 justify-content-center">
    @await Html.PartialAsync("_TeamMemberCard", new {
        Image = "~/img/team_members/kenzi.jpg",
        Name = "Kenzi Shibl",
        Role = "Front-End Developer & Content Designer",
        Description = "Kenzi is the creative force behind Sany3y, managing every detail with passion and precision. Her vision and leadership shape the team’s direction, ensuring every project reflects innovation and authenticity. Known for her calm energy and perfectionist touch, she’s the heartbeat of the team.",
        Email = "dsakl",
        Linkedin = "https://www.linkedin.com/in/kenzi-shibl/"
        })

    @await Html.PartialAsync("_TeamMemberCard", new {
        Image = "~/img/team_members/omnia.jpg",
        Name = "Omnia Ashraf",
        Role = "UI/UX Designer",
        Description = "Omnia brings designs to life with her eye for simplicity and elegance. She crafts digital experiences that feel natural and beautiful, ensuring every user feels connected to the brand’s story. Her design philosophy combines empathy and creativity.",
        Email = "dsakl",
        Linkedin = "https://www.linkedin.com/in/omniaashraf2/"
        })

    @await Html.PartialAsync("_TeamMemberCard", new {
        Image = "~/img/team_members/mohammed.jpg",
        Name = "Mohammed Atef",
        Role = ".Net Back-End Developer",
        Description = "Mohamed turns imagination into code. With a deep understanding of structure and interaction, he makes the impossible look easy. His clean, efficient code ensures the website runs smoothly and beautifully on every screen.",
        Email = "mohamed45452020@gmail.com",
        Linkedin = "https://www.linkedin.com/in/mohammed-atef-abd-elkader/"
        })

    @await Html.PartialAsync("_TeamMemberCard", new {
        Image = "~/img/team_members/steven.jpg",
        Name = "Steven Amin",
        Role = ".Net Back-End Developer",
        Description = "Steven is the logic master of Sany3y. He builds the strong technical foundation that powers every feature. With his problem-solving mindset, he ensures stability, security, and performance behind the scenes.",
        Email = "dsakl",
        Linkedin = "https://www.linkedin.com/in/steven-amin02/"
        })
</div>
