<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item">
            <a asp-controller="Admin" asp-action="Index">لوحة التحكم</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Admin" asp-action="Users">إدارة المستخدمين</a>
        </li>
        <li class="list-group-item">
            <a asp-controller="Admin" asp-action="Categories">إدارة التصنيفات</a>
        </li>
    </ul>
</div>