@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Admin Dashboard";
	Layout = "_AdminLayout";
}

<h1>Welcome back, Admin!</h1>

<div class="row mt-3 gy-3">
	<div class="col-md-4">
		@await Html.PartialAsync("_DashboardCard", new { Title = "Users", Number = ViewBag.TotalUsers })
	</div>
	<div class="col-md-4">
		@await Html.PartialAsync("_DashboardCard", new { Title = "Taskers", Number = ViewBag.TotalTaskers })
	</div>
	<div class="col-md-4">
		@await Html.PartialAsync("_DashboardCard", new { Title = "Categories", Number = ViewBag.TotalCategories })
	</div>
</div>

<div class="row mt-3">
	<div class="col-md-12">
		<div class="card dashboard-card">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5>Monthly User Registrations in @DateTime.Now.Year</h5>
				<button class="btn btn-sm btn-outline-secondary float-end" type="button" onclick="downloadUsers()">
					<i class="fa-solid fa-download"></i>
				</button>
			</div>
			<canvas id="get-monthly-user-counts" class="card-body"></canvas>
		</div>
	</div>
</div>

<style>
	.dashboard-card {
		transition: all 0.3s ease-in-out;
	}

	.dashboard-card:hover {
		transform: translateY(-5px);
	}
</style>

@section Scripts {
	<script>
		var monthlyUsersChart;

		$(document).ready(function () {
			$.ajax({
				url: '@Url.Action("GetMonthlyUserCounts", "Admin")',
				type: 'POST',
				data: JSON.stringify({}),
				contentType: 'application/json; charset=utf-8',
				success: OnSuccessResult,
				dataType: 'json',
				error: function () {
					$('#get-monthly-user-counts').html('<p class="text-danger">Failed to load recent activities.</p>');
				},
				options: {
					responsive: true
				}
			});
			
			function OnSuccessResult(data) {
				var _chartLabels = data.map(d => d["Month"]);
				var _chartData = data.map(d => d["UserCount"]);
				var barColors = [
					"red", "green", "blue", "orange", "brown", "purple", "cyan", "magenta", "lime", "teal", "pink", "yellow"
				];

				var ctx = document.getElementById("get-monthly-user-counts").getContext("2d");

				monthlyUsersChart = new Chart(ctx, {
					type: "bar",
					data: {
						labels: _chartLabels,
						datasets: [{
							label: "Monthly Users",
							backgroundColor: barColors,
							data: _chartData
						}]
					},
				})
			}
		});

		function downloadUsers() {
			const link = document.createElement('a');
			link.download = `Sany3y - Monthly User Registrations ${new Date().getFullYear()}.png`;
			link.href = monthlyUsersChart.toBase64Image();
			link.click();
		}
	</script>
}