html {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

table.dataTable td, table.dataTable th, table.dataTable td p{
    text-align: center !important;
    vertical-align: middle !important;
}

div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-end {
    margin: 0;
}

/* نخلي search على الشمال */
div.dt-container div.dt-layout-row div.dt-layout-cell.dt-layout-start {
    margin: 0;
}

.dataTables_wrapper {
    direction: rtl;
    text-align: right;
}

.close-btn {
    margin-left: 0px !important;
}