html {
    font-size: 14px;
    font-family: 'Cairo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
    font-family: 'Cairo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* كل الـ td و th و أي p جوه الجدول يتوسّطوا عموديًا وأفقيًا */
table.dataTable td, table.dataTable th, table.dataTable td p {
    text-align: center !important;
    vertical-align: middle !important;
}

/* محاذاة عناصر الـ DataTables layout */
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_paginate {
    margin: 0; /* يشيل أي مسافات زائدة */
}

/* RTL support */
.dataTables_wrapper {
    direction: rtl;
    text-align: right;
}

/* نخلي input البحث على الشمال */
.dataTables_wrapper .dataTables_filter {
    float: left; /* Search box على الشمال */
    text-align: left; /* نص البحث على الشمال */
    margin: 0 0 10px 0; /* مسافة بسيطة أسفل */
}

/* Buttons و Responsive details */
.dataTables_wrapper .dt-buttons {
    float: right; /* زرار Export على اليمين */
    margin-bottom: 10px;
}

/* تحسين الـ responsive details icon */
table.dataTable.dtr-inline.collapsed > tbody > tr > td:first-child:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th:first-child:before {
    left: auto;
    right: 10px; /* يضع أيقونة التفاصيل على يمين الجدول */
}

.close-btn {
    margin-left: 0px !important;
}

body {
    font-family: 'Cairo', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}